:root {
  --color-black: #000;
  --color-white: #fff;

  --gray-1: #f4f4f4;
  --gray-2: #e0e0e0;
  --gray-3: #c6c6c6;
  --gray-4: #a8a8a8;
  --gray-5: #8d8d8d;
  --gray-6: #6f6f6f;
  --gray-7: #525252;
  --gray-8: #393939;
  --gray-9: #262626;
  --gray-10: #161616;

  --cool-gray-1: #f2f4f8;
  --cool-gray-2: #dde1e6;
  --cool-gray-3: #c1c7cd;
  --cool-gray-4: #a2a9b0;
  --cool-gray-5: #878d96;
  --cool-gray-6: #697077;
  --cool-gray-7: #4d5358;
  --cool-gray-8: #343a3f;
  --cool-gray-9: #21272a;
  --cool-gray-10: #121619;

  --color-warm-gray-1: #f7f3f2;
  --color-warm-gray-2: #e5e0df;
  --color-warm-gray-3: #cac5c4;
  --color-warm-gray-4: #ada8a8;
  --color-warm-gray-5: #8f8b8b;
  --color-warm-gray-6: #736f6f;
  --color-warm-gray-7: #565151;
  --color-warm-gray-8: #3c3838;
  --color-warm-gray-9: #272525;
  --color-warm-gray-10: #171414;

  --color-yellow-1: #feffe8;
  --color-yellow-2: #fdffd0;
  --color-yellow-3: #fcffb7;
  --color-yellow-4: #fbff99;
  --color-yellow-5: #f9ff75;
  --color-yellow-6: #f8ff48;
  --color-yellow-7: #dde340;
  --color-yellow-8: #bfc438;
  --color-yellow-9: #9b9f2f;
  --color-yellow-10: #6d7023;

  --color-orange-1: #fff2e5;
  --color-orange-2: #ffe4c9;
  --color-orange-3: #ffd7ab;
  --color-orange-4: #ffc78c;
  --color-orange-5: #ffb76b;
  --color-orange-6: #ffa448;
  --color-orange-7: #e29240;
  --color-orange-8: #c37f38;
  --color-orange-9: #9e672f;
  --color-orange-10: #6e4822;

  --color-red-1: #fff1f1;
  --color-red-2: #ffd7d9;
  --color-red-3: #ffb3b8;
  --color-red-4: #ff8389;
  --color-red-5: #f94d56;
  --color-red-6: #d91e28;
  --color-red-7: #a2191f;
  --color-red-8: #750e13;
  --color-red-9: #520408;
  --color-red-10: #2d0709;

  --color-magenta-1: #fff0f7;
  --color-magenta-2: #ffd6e8;
  --color-magenta-3: #ffafd2;
  --color-magenta-4: #ff7eb6;
  --color-magenta-5: #ee4f96;
  --color-magenta-6: #d02471;
  --color-magenta-7: #9f1653;
  --color-magenta-8: #740737;
  --color-magenta-9: #510224;
  --color-magenta-10: #2a0a18;

  --color-purple-1: #f6f2ff;
  --color-purple-2: #e8daff;
  --color-purple-3: #d4bbff;
  --color-purple-4: #be95ff;
  --color-purple-5: #a668ff;
  --color-purple-6: #8a3ffc;
  --color-purple-7: #6929c4;
  --color-purple-8: #491d8b;
  --color-purple-9: #310e5e;
  --color-purple-10: #1c0e30;

  --color-blue-1: #edf5ff;
  --color-blue-2: #d0e2ff;
  --color-blue-3: #a6c8ff;
  --color-blue-4: #78a9ff;
  --color-blue-5: #4589ff;
  --color-blue-6: #1063ff;
  --color-blue-7: #0043ce;
  --color-blue-8: #002d9c;
  --color-blue-9: #001d6c;
  --color-blue-10: #010f41;

  --color-cyan-1: #e5f6ff;
  --color-cyan-2: #bae6ff;
  --color-cyan-3: #82cfff;
  --color-cyan-4: #38afff;
  --color-cyan-5: #1192e8;
  --color-cyan-6: #0072c3;
  --color-cyan-7: #00539a;
  --color-cyan-8: #003a6d;
  --color-cyan-9: #012749;
  --color-cyan-10: #061727;

  --color-green-1: #defbe6;
  --color-green-2: #a7f0ba;
  --color-green-3: #6fdc8c;
  --color-green-4: #42be65;
  --color-green-5: #24a248;
  --color-green-6: #198038;
  --color-green-7: #0e6027;
  --color-green-8: #044317;
  --color-green-9: #022d0d;
  --color-green-10: #071908;

  --color-teal-1: #e9fff5;
  --color-teal-2: #d1ffe9;
  --color-teal-3: #b7ffdd;
  --color-teal-4: #9affce;
  --color-teal-5: #76ffbc;
  --color-teal-6: #48ffa5;
  --color-teal-7: #40e393;
  --color-teal-8: #38c47f;
  --color-teal-9: #2f9f68;
  --color-teal-10: #23704a;
}
